/* static header image  */
.bg-cover {
  background-size: cover !important;
  min-height: 30vh;
}
/* nav */
.btn:hover {
  background-color: var(--blue);
  color: white;
}
/* display map */
.container_map {
  padding: 1%;
  text-align: center;
}
#map_wrapper_div {
  height: 500px;
}

#map_tuts {
  width: 100%;
  height: 100%;
}
/* filter */
.filter_type h5 {
  border-top: 1px solid #ededed;
  margin: 15px 0;
  padding: 15px 0 0 0;  
  font-size: 1rem;
}
.filter_type ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}
.filter_type ul li {
  margin-bottom: 5px;
}
.filter_type ul li:last-child {
  margin-bottom: 0;
}
a:hover{
  color: var(--blue);
}
.btn-primary-map {    
  border-color: var(--blue) !important;
  color: var(--blue) !important;
  border-radius: 8px;
  background-color: white;
  height: fit-content;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.btn-primary-map:hover {
  border-color: var(--blue) !important;
  color: white !important;
  border-radius: 8px;
  background-color: var(--blue);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
/* rating star */
.checked {
  color: orange;
}

/* beach item */
.beachItem {
  padding-left: 0;
  margin: 20px auto;
}
.detail {
  margin: 20px 10px;
}
.beachname {
  font-size: 1.5rem;
  color: var(--blue);
  font-weight: bold;
}
.beachname:hover {
  color: blue;
  text-decoration: none;
}
.country,
.region {
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: bold;
}

.country:hover {
  color: red;
}

.region:hover {
  color: blueviolet;
}
.rating,
.when {
  font-weight: bold;
  font-size: 18px;
}
.beachcontent {
  text-align: justify;
}

ul {
  list-style-type: none;
}
/* price description */
.expensive {
  background-color: orangered;
  color: white;
}
.quiteExpensive {
  background-color: orange;
  color: white;
}
.affordable {
  background-color: dodgerblue;
  color: white;
}
.economical {
  background-color: lightseagreen;
  color: white;
}
.extraEconomical {
  background-color: forestgreen;
  color: white;
}

