<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.3/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,800,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" type="image/x-icon" href="./images/home/favicon.ico" />
    <title>Beauty of Beaches</title>
    <link rel="styleSheet" href="./css/index.css" />
    <link rel="styleSheet" href="./css/navbar.css" />
    <link rel="styleSheet" href="./css/whenToGo.css" />
    <link rel="styleSheet" href="./css/whereToGo.css" />
    <link rel="styleSheet" href="./css/beachTemplate.css" />
    <link rel="styleSheet" href="./css/contactUs.css" />
    <link rel="styleSheet" href="./css/responsive.css" />
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <header>
      <!--Nav Bar-->
      <nav
        id="navbar"
        class="navbar navbar-expand-md navbar-dark bg-primary fixed-top justify-content-center"
      >
        <a href="#" class="navbar-brand">
          <img src="./images/home/logo.png" alt="logo" />
          <div>
            <div class="website-counter"></div>
            <div>Beauty Of Beaches</div>
          </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                Categories
              </a>
              <ul class="dropdown-menu fade-down">
                <li>
                  <a class="dropdown-item" href="#!whereToGo">Where to go</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#!whenToGo">When to go</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!contactUs">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!siteMap">Sitemap</a>
            </li>
          </ul>
          <form class="form-inline my-lg-0 search-background">
            <input
              ng-model="selected"
              class="form-control mr-sm-1"
              placeholder="Enter beach name"
              auto
            />
            <ul ng-show="selected" class="my-2 my-sm-0 search">
              <li
                ng-repeat="beach in beachesList | filter:selected | limitTo :1"
              >
                <a href="{{beach.beachUrl}}"
                  ><i class="fas fa-search" ng-click="toggleSearch()"></i
                ></a>
              </li>
            </ul>
          </form>
        </div>
      </nav>
    </header>
    <section class="ngView">
      <div ng-view></div>
    </section>

    <section class="scrollBtn">
      <div id="scrollToTop-btn">
        <div ng-click="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>
      </div>
      <div id="scrollToBottom-btn">
        <div ng-click="scrollToBottom()">
          <i class="fa-solid fa-arrow-down"></i>
        </div>
      </div>
    </section>
    <footer class="site-footer pt-3">
      <div class="container-fluid">
        <div class="row">
          <div id="footer-about" class="col-sm-6">
            <h5>About</h5>
            <p class="text-justify">
              The most important economic benefit of beaches is that they serve
              as a tourist attraction site. Tourism is the largest economic
              activity in the world and it not only earns countries foreign
              revenue, but also acts as a large employer for the local
              population. “BeautyOfBeaches” will be the website that will
              provide the information about famous beaches in the world.
            </p>
          </div>

          <div id="footer-right" class="col-sm-6">
            <div class="row">
              <div id="footer-cate" class="col-sm-5">
                <h5>Categories</h5>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#!whereToGo">Where To Go</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#!whenToGo">When To Go</a>
                  </li>
                </ul>
              </div>
              <div id="footer-links" class="col-sm-7">
                <h5>Quick Links</h5>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#!about">About Us</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#!contactUs">Contact Us</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#!siteMap">Sitemap</a>
                  </li>
                </ul>
              </div>
              <div id="footer-contactUs">
                <h5>Contact Us</h5>
                <div>
                  <i class="fa fa-home"></i>&nbsp;&nbsp;GIC Building, 275 Nguyen
                  Van Dau Street, Ward 11, Binh Thanh District, Ho Chi Minh
                  City, Vietnam
                </div>
                <div>
                  <i class="fa fa-phone"></i>&nbsp;&nbsp;(+84) 96 223 2226
                </div>
                <div>
                  <i class="fa fa-envelope"></i
                  >&nbsp;&nbsp;tech.dept@beautyofbeaches.com
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <div class="container-fluid footer-bottom">
        <div class="row">
          <div class="col-sm-4">
            <p>
              <i class="fa-solid fa-clock"></i>&nbsp;&nbsp;<span
                id="date-time"
              ></span>
            </p>
          </div>
          <div class="col-sm-4">
            <p>
              <i class="fa-solid fa-location-crosshairs"></i>&nbsp;&nbsp;<span
                id="geoCoding"
              ></span
              ><span id="curPos"></span>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="copyright-text">
              Copyright &copy; 2022 All Rights Reserved by BeautyOfBeaches
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="./js/index.js"></script>
  <script src="./js/function.js"></script>
  <script src="./js/mainController.js"></script>
  <script src="./js/whereToGo.js"></script>
</html>
